body {
	background-image: url(images/Deepspace.jpg);
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	background-color: #000;
	color: #fff;
}
#fly {
	font-size: 60px;
/*	background-color: #fa0;*/
}
#title,#fly {
	display: inline-block;
	margin-bottom: 30px;
	padding: 4px;
}
#title {
	font-size: 30px;
}
#header {
	text-align: center;
}
.fade {
	transition: border-color 2s;
	-moz-transition: border-color 2s;
	-webkit-transition: border-color 2s;
	-o-transition: border-color 2s;
}
.fade:hover {
	border-color: white !important;
}
.rounded {
	border-radius: 10px;
	border: 1px solid white;
}
.sidebar {
	display: inline-block;
	width: 150px;
	height: 500px;
	padding: 4px;
}

#links {
	float: left;
	margin-left: 10px;
	text-align: center;
}

#fact {
	float: right;
	margin-right: 10px;
}

#main {
	padding: 5px;
	margin-bottom: 50px;
	display: inline-block;
	width: 70%;
	height: 500px;
}

#container {
	width: 100%;
	height: 100%;
}

.center {
	text-align: center;
}

.hide {
	display: none;
}

#by {
	border: 1px solid rgba(0,0,0,0);
}

#timeline {
	height: 100px;
	cursor: move;
}

#song {
	float: left;
}

.dark-theme { color: #eee; }
.dark-theme .timeline-band-0 .timeline-ether-bg { background-color: #333 }
.dark-theme .timeline-band-1 .timeline-ether-bg { background-color: #111 }
.dark-theme .timeline-band-2 .timeline-ether-bg { background-color: #222 }
.dark-theme .timeline-band-3 .timeline-ether-bg { background-color: #444 }

.dark-theme .t-highlight1 { background-color: #003; }
.dark-theme .p-highlight1 { background-color: #300; }

.dark-theme .timeline-highlight-label-start .label_t-highlight1 { color: #f00; }
.dark-theme .timeline-highlight-label-end .label_t-highlight1 { color: #115; }

.dark-theme .timeline-band-events .important { color: #c00; }
.dark-theme .timeline-band-events .small-important { background: #c00; }

.dark-theme .timeline-date-label-em { color: #fff; }
.dark-theme .timeline-ether-lines { border-color: #555; border-style: solid; }
.dark-theme .timeline-ether-highlight { background: #555; }

.dark-theme .timeline-event-tape,
.dark-theme .timeline-small-event-tape { background: #f60; }
.dark-theme .timeline-ether-weekends { background: #111; }