@media screen,handheld,projection,tv {
	body {
		background-image: url(images/Deepspace.jpg);
		background-color: #000;
		color: #fff;
	}
	a:visited {
		color: #ffd700;
	}
	.rounded {
		border: 1px solid white !important;
	}
}
body {
	font-family: 'Open Sans', sans-serif;
}
#fly {
	margin-top: 5px;
	font-size: 60px;
/*	background-color: #fa0;*/
}
#title,#fly {
	display: inline-block;
	margin-bottom: 30px;
	padding: 4px;
}
#title {
	font-size: 30px;
}
#header {
	text-align: center;
}
.fade {
	transition: border-color 2s;
	-moz-transition: border-color 2s;
	-webkit-transition: border-color 2s;
	-o-transition: border-color 2s;
}
.fade:hover {
	border-color: white !important;
}
.rounded {
	border-radius: 10px;
	border: 1px solid #000;
}
.sidebar {
	display: inline-block;
	width: 150px;
	height: 500px;
	padding: 4px;
}

#links {
	float: left;
	margin-left: 10px;
	text-align: center;
}

#fact {
	float: right;
	margin-right: 10px;
}

#main {
	padding: 5px;
	margin: auto 200px 50px;
	height: 500px;
	left: 200px;
	right: 200px;
}

.center {
	text-align: center;
}

.hide {
	display: none;
}

/*#by {
	border: 1px solid rgba(0,0,0,0) !important;
}*/

#timeline {
	height: 100px;
	cursor: move;
}

#song {
	float: left;
}