@media screen,handheld,projection,tv {
	body {
		background-image: url(images/Deepspace.jpg);
		background-color: #000;
		color: #fff;
	}
	a:visited {
		color: #ffd700;
	}
	.rounded {
		border: 1px solid white !important;
	}
}
body {
	font-family: 'Open Sans', sans-serif;
}
#fly {
	font-size: 60px;
/*	background-color: #fa0;*/
	margin-bottom: 30px;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#title,#fly {
	display: inline-block;
	padding: 4px;
}
#title {
	font-size: 30px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#header {
	text-align: center;
}
.fade {
	transition: border-color 2s;
	-moz-transition: border-color 2s;
	-webkit-transition: border-color 2s;
	-o-transition: border-color 2s;
}
.fade:hover {
	border-color: white !important;
}
.rounded {
	border-radius: 10px;
	border: 1px solid #000;
	padding: 5px;
}
.sidebar {
	display: inline-block;
	width: 150px;
	height: 500px;
	padding: 4px;
}

#links {
	float: left;
	margin-left: 10px;
	text-align: center;
}

#fact {
	margin: auto 10px 5px;
}

#main {
	margin: auto 10px 10px 200px;
	height: 500px;
}

.center {
	text-align: center;
}

.hide {
	display: none;
}

/*#by {
	border: 1px solid rgba(0,0,0,0) !important;
}*/
#by {
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 2px;
}

#timeline {
	height: 100px;
	cursor: move;
	text-shadow: none;
}

#song {
	float: left;
}

.outline {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}