body {
	background-image: url(http://www.californiaindianeducation.org/science_lab/pics/space_photos/Space_Deep.jpg);
	font-family: 'Open Sans', sans-serif;
}
#fly {
	font-size: 60px;
/*	background-color: #fa0;*/
	color: #fff;
}
#flydiv {
	text-align: center;
	margin-bottom: 100px;
}
.cell {
	display: table-cell;
	padding: 4px;
}
.fade {
	transition: background-color 2s;
	-moz-transition: background-color 2s;
	-webkit-transition: background-color 2s;
	-o-transition: background-color 2s;
}
.fade:hover {
	background-color: white !important;
}
.rounded {
	border-radius: 10px;
	border: 1px solid white;
}
.sidebar {
	display: inline-block;
	width: 150px;
	height: 500px;
}
#container {
	background-color: white;
	display: table;
	width: 100%;
	height: 100%;
}

#links {
	float: left;
	margin-left: 10px;
}

#fact {
	float: right;
	margin-right: 10px;
}

#main {
	display: inline-block;
	width: 70%;
	height: 500px;
	color: #fff;
}

.center {
	text-align: center;
}
/*#c1 {
	color: #fff;
	transition: background-color 2s, color 2s;
	-moz-transition: background-color 2s, color 2s;
	-webkit-transition: background-color 2s, color 2s;
	-o-transition: background-color 2s, color 2s;
}

#c1:hover {
	background-color: #fff;
	color: rgba(0,0,0,0);
}

#link {
	color: #fff;
}

#timeline {
	height: 100px;
	cursor: move;
}

#c3 {
	background-color: #f99;
}

#by {
	background-color: #71f;
}*/